<%- include('header') -%>

<h1 style="color:aqua;">This is a page about EJS To do list node app</h1>
<p>It is used for making some basic day to day or work related lists.</p>

<%- include('footer') -%>